<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
		<title>{%- if title -%}{{ title }} | Hertfordshire Basketball League{%- else -%}Hertfordshire Basketball League{%- endif -%}</title>
		<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
		<meta name="htmx-config" content='{"selfRequestsOnly": false}'>
		<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
	</head>

	<body>
		<header>
			<nav>
				<a href="/">Home</a>
				<a href="/contacts">Contacts</a>
				<a href="/resources">Resources</a>
			</nav>

			<h1>Hertfordshire Basketball League</h1>
		</header>

		{{ content }}
	</body>
</html>



